{% extends "lines/base.html" %}

{% block body %} 
<h1>Line {{ line.id }}</h1>
<ul>
    <li>Origin: {{ line.origin }}</li> 
    <li>Destination: {{ line.destination }}</li> 
    <li>Duration: {{ line.duration }}</li> 
    <li>Price: {{ line.price }}</li> 
</ul>
<h1>Passengers:</h1>
<ul>
    {% for passenger in passengers %} 
    <li>{{ passenger }}</li>
    {% empty %} 
    <li>No passengers.</li>
    {% endfor %} 
</ul>


<form action="{% url 'booking' line.id %}" method="post">
    {% csrf_token %}
    <dataframe>
        <select name="passenger" id="">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </dataframe>  
</form>

<a href="{% url 'line_index' %}">List of all lines</a>
{% endblock %}